extends layout

include called_includes/sharedHTMLfunctions

block content

  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      each p in paragraph
        p= p.p
